<section id="section4" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section4-bg.jpg">
    </div>
    <div class="bottom">
        <div class="container">
            <h1>
                <span>I always</span>
                <span>played nice, I never</span>
                <span>got stitches.</span>
                <span>Although</span>
                <span>most of my</span>
                <span>interests consisted</span>
                <span>of witches</span>
            </h1>
        </div>
    </div>
</section>
