<section id="section5" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section5-bg.jpg">
        <h1 class="right-align">
            <span>Through</span>
            <span>all the</span>
            <span>valleys</span>
            <span>and</span>
            <span>all the</span>
            <span>hills</span>
        </h1>
    </div>
    <div class="bottom">
        <div class="l">
            <p>The film has strong themes of PJ’s fascination with powerful female figures like his mother. His mother’s
                strong presence in his life has influenced a fascination and admiration for the Wicked Witch from a
                young age. His mother is played by his biological mother, Maggie. PJ’s ninety three year old
                grandfather, Joe Hardy, plays the wizard himself, soaring high into the sky in a hot air balloon. This
                is something that his grandfather used to do quite often. Mr. Hardy fits the wizard archetype due to his
                entrepreneurial trajectory from a small town man with big dreams. Throughout the film, PJ intercuts VHS
                footage and old family photos to aide in the justification of the characters in the film.
            </p>
        </div>
        <div class="r">
            <h1>
                <span>I dream</span>
                <span>of it</span>
                <span>and</span>
                <span>all</span>
                <span>its</span>
                <span>thrills</span>
            </h1>
        </div>
    </div>
</section>
