<section id="section5" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section5-bg.jpg">
        <h1 class="right-align">
            <span>Through</span>
            <span>all the</span>
            <span>valleys</span>
            <span>and</span>
            <span>all the</span>
            <span>hills</span>
        </h1>
    </div>
    <div class="bottom">
        <div class="l">
            <p>Beyond the Backyard was originally intended to be part of PJ’s advanced film produced through NYU. Although, due to its scale and safety risks of dealing with live animals and hot air balloons, his professor recommended it may be worth while to produce the project independently. With Beyond the Backyard and beyond, PJ plans to take the world on a ride for a long time, literally. Perhaps even his entire lifetime. In short, Beyond the Backyard is a piece of a much larger puzzle that PJ has just begun to build through a series of films that are all currently in the works. As each film is released over time, the gaps and the ambiguous scenes will continue to be filled.
            </p>
        </div>
        <div class="r">
            <h1>
                <span>I dream</span>
                <span>of it</span>
                <span>and</span>
                <span>all</span>
                <span>its</span>
                <span>thrills</span>
            </h1>
        </div>
    </div>
</section>
