<section id="section5" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section5-bg.jpg">
    </div>
    <div class="bottom">
        <div class="container">
            <h1>
                <span class="p1">Through all</span>
                <span class="p1">the valleys and</span>
                <span class="p2">all the hills</span>
                <span class="p2">i dream of it</span>
                <span class="p3">and all its</span>
                <span class="p3">thrills</span>
            </h1>
        </div>
    </div>
</section>
