<section id="section7">
    <div class="top">
        <div class="row">
            <h1>Contact</h1>

            <h4>Bad Witch Pics</h4>
            <p>
                1019 Route 519, Eighty Four, PA 15330<br>
                917.55.5555
            </p>
            <table>
                <tr>
                    <td><i class="fa fa-facebook-square" aria-hidden="true"></td>
                    <td><i class="fa fa-twitter-square" aria-hidden="true"></td>
                </tr>
                <tr>
                    <td><i class="fa fa-instagram" aria-hidden="true"></td>
                    <td><i class="fa fa-snapchat-square" aria-hidden="true"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom">
    </div>
</section>

