<section id="section2">
    <div class="top">
        <h1 class="right-align">
            <span>This</span>
            <span>isn't Oz,</span>
            <span>this is our</span>
            <span>reality.</span>
        </h1>
    </div>
    <div class="bottom ">
        <div class="container center-align">
            <p>If there were ever to be a “based-on-a-true-story” version of the Wizard of Oz, PJ Magerko’s Beyond the Backyard would be it. Making his independent directorial debut, PJ Magerko looked to his family for inspiration. Beyond the Backyard is based on PJ’s family and vaguely touches on his upbringing in Southwestern Pennsylvania. The film has no dialogue except for a poetic voice over written and delivered by PJ himself. Beyond the Backyard explores elements of solipsism, childhood, reminiscence, family, and the three structures that make up the film of past, present and future. There are also no professional actors except for Harrison Salvi who plays PJ’s younger self and Nick Collis who plays a figment of PJ’s future self. Other than that, the film’s cast is primarily PJ’s family. Despite the film’s fantastical imagery, it is not fictional.</p>
        </div>
    </div>
</section>
