<section id="section2" class="parallax-container">
    <div class="grass-boy">
      <img src="https://s3.amazonaws.com/ijadams/btb/grass-boy2.png">
    </div>
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/grass-bg2.jpg">
    </div>
    <div class="bottom">
        <div class="container">
          <h1>
              <span class="p1">This</span>
              <span class="p1">isn't Oz,</span>
              <span class="p2">this is our</span>
              <span class="p2">reality.</span>
          </h1>
        </div>
    </div>
</section>
