<section id="section3" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section3-bg.jpg">
        <h1 class="right-align">
            <span>A</span>
            <span>man of</span>
            <span>courage,</span>
            <span>brains,</span>
            <span>and</span>
            <span>heart</span>
        </h1>
    </div>
    <div class="bottom">
        <div class="l">
            <p>Growing up in rural Southwestern Pennsylvania between a farm and his family’s resort in the
                Appalachian Mountains; Nemacolin Woodlands, PJ chose to begin telling some of his earliest
                relocations of his childhood through the lens of his favorite movie, Wizard of Oz. This contrast
                between reality and fantasy emulates Dorothy’s journey from Kansas to Oz. Throughout Dorothy’s
                journey, her goal was to defeat the Wicked Witch of the West. PJ takes quite the opposite
                approach
                in this film.
                In fact, he embraces with Wicked Witch wholeheartedly.
            </p>
        </div>
        <div class="r">
            <h1>
                <span>planted</span>
                <span>a seed</span>
                <span>for</span>
                <span>all this</span>
                <span>to start.</span>
            </h1>
        </div>
    </div>
</section>
