<section id="section6" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section6-bg.jpg">
    </div>
    <div class="bottom">
        <div class="row">
            <h1>Cast & Crew</h1>
            <ul>
                {% for cast in site.data.data %}
                <li><span class="member">{{ cast.position }}</span> <span
                  class="character">{{ cast.name }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
