<section id="section6" class="parallax-container">
    <div class="top parallax">
        <img src="https://s3.amazonaws.com/ijadams/btb/section6-bg.jpg">
    </div>
    <div class="bottom">
        <div id="cast" class="row">
            <h1>Cast</h1>
            <ul class="cast-list">
                {% for cast in site.data.cast1 %}
                <li><span class="member">{{ cast.name }}</span> as <span
                        class="character">{{ cast.position }}</span>
                </li>
                {% endfor %}
            </ul>
            <ul class="cast-list">
                {% for cast in site.data.cast2 %}
                <li><span class="member">{{ cast.name }}</span> as <span
                        class="character">{{ cast.position }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="crew" class="row">
            <h1>Crew</h1>
            <ul class="crew-list">
                {% for cast in site.data.crew1 %}
                <li><span class="member">{{ cast.name }}</span> <span
                        class="character">{{ cast.position }}</span>
                </li>
                {% endfor %}
            </ul>
            <ul class="crew-list">
                {% for cast in site.data.crew2 %}
                <li><span class="member">{{ cast.name }}</span> <span
                        class="character">{{ cast.position }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="thanks" class="row">
            <h1>Special Thanks</h1>
            <ul class="crew-list">
                <li>Nemacolin Woodlands</li>
                <li>Darrell Wilson</li>
                <li>84 Lumber</li>
            </ul>
        </div>
    </div>
</section>
