body {
  background: black;
  overflow-x: hidden;
  p {
    display: block;
    overflow: auto;
  }
  a {
    &:focus, &:active {
      outline: none;
    }
  }
}

.site-wrapper {
  @media screen and (max-width: 64rem) {
    .parallax img {
      display: none !important;
    }
    section {
      height: 100% !important;
      .bottom, .top {
        min-height: inherit !important;
        display: inherit !important;
        align-item: inherit !important;
        justify-content: inherit !important;
        .l, .r {
          width: 100% !important;
          .container {
            p {
              padding: 0 2rem !important;
              display: block;
              overflow: auto;
            }
          }
        }
      }
      @media screen and (max-height: 650px) and (min-width: 64rem) {
        min-height: 600px;
      }
      @media screen and (min-width: 64rem) {
        min-height: 600px;
      }
    }
  }
  #section1 {
    background: url('https://s3.amazonaws.com/ijadams/btb/section1-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 64rem) {
      height: 100%;
      min-height: 100vh;
    }
    .nav {
      position: absolute;
      top: 0;
      z-index: 1;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 1), transparent);
      min-height: 150px;
      ul {
        margin-top: 2rem;
        li {
          display: inline-block;
          font-family: 'derivia';
          letter-spacing: 0.2rem;
          @media screen and (max-width: 40rem) {
            font-size: 12px;
          }
          &:nth-child(2), &:nth-child(4) {
            margin: 0 5rem;
            @media screen and (max-width: 64rem) {
              margin: 0 0.2rem;
            }
          }
          a {
            color: white;
            opacity: 0.8;
            transition: 0.2s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    #logo {
      align-self: flex-start;
      img {
        width: auto;
        max-height: 75vh;
        max-width: 100%;
        @media screen and (max-width: 64rem) {
          max-height: 66vh;
        }
      }
    }
    #watch-trailer {
      position: absolute;
      z-index: 1;
      bottom: 0;
      color: white;
      img {
        max-width: 300px;
        margin-bottom: 0.8rem;
        transition: 0.2s ease-in;
        opacity: 0.8;
        @media screen and (max-width: 64rem) {
          max-width: 200px;
        }
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }

  #section2 {
    height: 100vh;
    min-height: 450px;
    position: relative;
    background: black;
    z-index: 0;
    @media screen and (max-width: 64rem) {
      height: 100vh;
    }
    @media screen and (max-width: 40rem) {
      height: 150vh;
    }
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section-2-bg-top.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 60%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        width: 40%;
        z-index: 1;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 6vw;
        padding-bottom: 0.2rem;
        line-height: 1em;
        color: white;
        text-shadow: 1px 3px black;
        @media screen and (max-width: 64rem) {
          width: 50%;
          padding-bottom: 0;
          padding-top: 10rem;
        }
        @media screen and (max-width: 40rem) {
          font-size: 9vw;
          width: 50%;
          padding-bottom: 0;
          padding-top: 10rem;
        }

        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 0rem
        }
        span:nth-child(2) {
          margin-right: 2rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 6rem
        }
      }
      @media screen and (max-width: 40rem) {
        background-position: 70% 50%;
      }
    }
    .middle {
      height: 5%;
      background: transparent;
      display: none;
    }
    .bottom {
      background: black;
      color: white;
      height: 35%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) -200% 0%  no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) 200% 0% no-repeat, black;
      background-color: black;
      transition: background 3s ease-in-out;
      background-size: contain;
      &.scrolled {
        background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) left bottom no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) right bottom no-repeat;
        background-color: black;
        background-size: contain;
      }
      @media screen and (max-width: 64rem) {
        background: black;
      }
      .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          margin-top: 0;
          padding: 0 10rem;
        }
      }
      @media screen and (max-width: 64rem) {
        .container p {
          padding: 0 2rem;
          margin-bottom: 0;
        }
      }
    }
  }

  #section3 {
    height: 100vh;
    min-height: 450px;
    position: relative;
    @media screen and (max-width: 64rem) {
      height: 100vh;
    }
    @media screen and (max-width: 40rem) {
      height: 150vh;
    }
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section3-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      @media screen and (max-width: 40rem) {
        background-position: 40% 50%;
      }
      h1 {
        z-index: 1;
        width: 40%;
        margin-bottom: -1rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4.6vw;
        line-height: 1em;
        @media screen and (max-width: 64rem) {
          width: 40%;
          padding-bottom: 0;
          padding-top: 10rem;
          font-size: 6vw;
        }
        @media screen and (max-width: 40rem) {
          font-size: 9vw;
          width: 50%;
          padding-bottom: 0;
          padding-top: 10rem;
        }
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) -200% 0%  no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) 200% 0% no-repeat, black;
      background-color: black;
      transition: 5s ease-in-out;
      background-size: contain;
      &.scrolled {
        background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) left bottom no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) right bottom no-repeat;
        background-color: black;
        background-size: contain;
      }
      @media screen and (max-width: 64rem) {
        background: black;
      }
      .l, .r {
        width: 50%;
      }
      .l {
        padding-left: 8rem;
        padding-right: 0rem;
        @media screen and (max-width: 64rem) {
          padding: 0 2rem;
        }
      }
      .r {
        padding-right: 8rem;
        padding-left: 0rem;
        align-self: flex-start;
        @media screen and (max-width: 64rem) {
          padding: 0 2rem;
        }
        h1 {
          margin-top: -0.2rem;
          text-align: center;
          font-size: 4.6vw;
          background-image: -webkit-radial-gradient(left, white, white, #3498db);
          background-image: radial(to right, left, white, white, #3498db);
          background-clip: text;
          -webkit-background-clip: text;
          text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
          @media screen and (max-width: 64rem) {
            font-size: 8vw;
            margin-top: 2rem;
          }
          span {
            display: block;
          }
          span:nth-child(1) {
            margin-right: 0rem
          }
          span:nth-child(2) {
            margin-right: 2rem
          }
          span:nth-child(3) {
            margin-right: 6rem
          }
          span:nth-child(4) {
            margin-right: 6rem
          }
        }

      }
    }
  }

  #section4 {
    height: 100vh;
    min-height: 450px;
    position: relative;
    @media screen and (max-width: 64rem) {
      height: 125vh;
    }
    @media screen and (max-width: 40rem) {
      height: 175vh;
    }
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section4-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      @media screen and (max-width: 64rem) {
        background-position: 100% 50%;
      }
      h1 {
        z-index: 1;
        width: 40%;
        margin-bottom: -1rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4.6vw;
        line-height: 1em;
        @media screen and (max-width: 64rem) {
          width: 65%;
          padding-bottom: 0;
          padding-top: 2rem;
          font-size: 6vw;
        }
        @media screen and (max-width: 40rem) {
          font-size: 8vw;
          width: 50%;
          padding-bottom: 0;
        }
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) -200% 0%  no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) 200% 0% no-repeat, black;
      background-color: black;
      transition: 5s ease-in-out;
      background-size: contain;
      &.scrolled {
        background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) left bottom no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) right bottom no-repeat;
        background-color: black;
        background-size: contain;
      }
      @media screen and (max-width: 64rem) {
        background: black;
      }
      .l, .r {
        width: 50%;
      }
      .l {
        padding-left: 8rem;
        padding-right: 0rem;
        @media screen and (max-width: 64rem) {
          padding: 0 2rem;
        }
      }
      .r {
        padding-right: 8rem;
        padding-left: 0rem;
        align-self: flex-start;
        @media screen and (max-width: 64rem) {
          padding: 0 2rem;
        }
        h1 {
          margin-top: -0.2rem;
          text-align: center;
          color: white;
          font-size: 4vw;
          span {
            display: block;
          }
          span:nth-child(1) {
            margin-right: 0rem
          }
          span:nth-child(2) {
            margin-right: 2rem
          }
          span:nth-child(3) {
            margin-right: 6rem
          }
          span:nth-child(4) {
            margin-right: 6rem
          }
          @media screen and (max-width: 64rem) {
            font-size: 8vw;
            margin-top: 2rem;
          }
        }

      }
    }
  }

  #section5 {
    height: 100vh;
    min-height: 450px;
    position: relative;
    @media screen and (max-width: 64rem) {
      height: 125vh;
    }
    @media screen and (max-width: 40rem) {
      height: 180vh;
    }
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section5-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        z-index: 1;
        width: 40%;
        margin-bottom: -0.4rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4vw;
        line-height: 1em;
        color: white;
        @media screen and (max-width: 64rem) {
          width: 50%;
          padding-bottom: 0;
          padding-top: 2rem;
          font-size: 6vw;

        }
        @media screen and (max-width: 40rem) {
          font-size: 8vw;
          width: 50%;
          padding-bottom: 0;
        }
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }
      }
    }
    .bottom {
      background: black;
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) -200% 0%  no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) 200% 0% no-repeat, black;
      background-color: black;
      transition: background 3s ease-in-out;
      background-size: contain;
      &.scrolled {
        background: url(https://s3.amazonaws.com/ijadams/btb/branchL.png) left bottom no-repeat, url(https://s3.amazonaws.com/ijadams/btb/branchR.png) right bottom no-repeat;
        background-color: black;
        background-size: contain;
      }
      .l, .r {
        width: 50%;

      }
      .l {
        padding-left: 8rem;
        padding-right: 0rem;
        @media screen and (max-width: 64rem) {
          padding: 0 2rem;
        }
      }
      .r {
        padding-right: 8rem;
        padding-left: 0rem;
        align-self: flex-start;
        @media screen and (max-width: 64rem) {
          padding: 0 2rem;
        }
        h1 {
          margin-top: -0.2rem;
          text-align: center;
          color: white;
          font-size: 3.8vw;
          span {
            display: block;
          }
          span:nth-child(1) {
            margin-right: 4rem;
          }
          span:nth-child(2) {
            margin-right: 2rem;
          }
          span:nth-child(3) {
            margin-right: 6rem;
          }
          span:nth-child(4) {
            margin-right: 6rem;
          }
          @media screen and (max-width: 64rem) {
            font-size: 8vw;
            margin-top: 2rem;
          }

        }

      }
    }
  }

  #section6 {
    height: 100%;
    min-height: 450px;
    position: relative;
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section6-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50vh;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        width: 40%;
        margin-bottom: -0.4rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4vw;
        line-height: 1em;
        color: white;
        text-align: center;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 64rem) {
        padding: 0 2rem;
      }
      h1 {
        margin-top: 4rem;
        color: white;
        font-size: 2.4rem;
        letter-spacing: 1rem;
        text-align: center;
        margin-bottom: 3rem;
        @media screen and (max-width: 64rem) {
          letter-spacing: 0.2em;
        }
      }
      ul {
        text-align: center;
        font-size: 12px;
        li {
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
        }
        @media screen and (max-width: 64rem) {
          .member:after {
            margin-left: 0.2rem;
            content: '//';
          }
          .elips {
            display: none;
            &:after {
              content: 'p';
            }
          }
        }
      }
    }
  }

  #section7 {
    height: 100vh;
    position: relative;
    background: url('https://s3.amazonaws.com/ijadams/btb/footer.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    .top {
      color: #fff;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;
      .row {
        max-width: 50%;
        color: white;
        text-align: center;
        @media screen and (max-width: 64rem) {
          max-width: 100%;
        }
        h1 {
          font-size: 2.4rem;
          letter-spacing: 1rem;
          margin-bottom: 4rem;
          margin-top: 4rem;
        }
        h4 {
          font-weight: 700;
        }
        p {
          margin-bottom: 5rem;
        }
        table {
          width: 50%;
          margin: 0 25%;
          td {
            text-align: center;
            font-size: 3rem;
            padding: 0;
            opacity: 0.8;
            transition: 0.2s;
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
            @media screen and (max-width: 64rem) {
              &:first-of-type {
                text-align: right;
                padding-right:1rem;
              }
              &:last-of-type {
                text-align: left;
                padding-left:1rem;
              }
            }
            @media screen and (max-width: 40rem) {
              font-size: 2.8rem;
            }
          }
        }
      }
    }
    .bottom {
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
        font-size: 4vw;
        letter-spacing: 0.1rem;
      }
    }
  }
}


