body {
  background: black;
}
.site-wrapper {
  @media screen and (max-width: 64rem) {
    .parallax img {
      display: none !important;
    }
    section {
      .bottom, .top {
        min-height: inherit !important;
        display: inherit !important;
        align-item: inherit !important;
        justify-content: inherit !important;
        .l, .r {
          width: 100% !important;
          .container {
            p {
              padding: 0 2rem !important;
            }
          }
        }
      }
    }
  }
  #section1 {
    background: url('https://s3.amazonaws.com/ijadams/btb/section1-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 64rem) {
      height:100vh;
      min-height: inherit;
    }
    .nav {
      position: absolute;
      top: 0;
      z-index: 1;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 1), transparent);
      min-height: 150px;
      ul {
        margin-top: 2rem;
        li {
          display: inline-block;
          font-family: 'derivia';
          letter-spacing: 0.2rem;
          &:nth-child(2), &:nth-child(4) {
            margin: 0 5rem;
            @media screen and (max-width: 64rem) {
              margin: 0 0.2rem;
            }
          }
          a {
            color: white;
            opacity: 0.8;
            transition: 0.2s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    #logo {
      align-self: flex-start;
      img {
        width: auto;
        max-height: 80vh;
        max-width: 100%;
      }
    }
    #watch-trailer {
      position: absolute;
      z-index: 1;
      bottom: 0;
      color: white;
      img {
        max-width: 300px;
        margin-bottom: 0.8rem;
        transition: 0.2s ease-in;
        opacity: 0.8;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }

  #section2 {
    height: 100vh;
    position: relative;
    background: black;
    z-index: 0;
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section-2-bg-top.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 65%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        width: 40%;
        z-index: 1;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 6vw;
        padding-bottom: 5rem;
        line-height: 1em;
        color: white;
        text-shadow: 1px 3px black;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 0rem
        }
        span:nth-child(2) {
          margin-right: 2rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 6rem
        }
      }
    }
    .middle {
      height: 5%;
      background: transparent;
      display: none;
    }
    .bottom {
      background: black;
      color: white;
      height: 30%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .container {
        width: 100%;
        p {
          margin-top: 0;
          padding: 0 10rem;
        }
      }
    }
  }

  #section3 {
    height: 100vh;
    position: relative;
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section3-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        z-index: 1;
        width: 40%;
        margin-bottom: -1rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4.6vw;
        line-height: 1em;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .l, .r {
        width: 50%;

      }
      .l {
        padding-left: 12rem;
        padding-right: 8rem;
      }
      .r {
        padding-right: 12rem;
        padding-left: 8rem;
        align-self: flex-start;
        h1 {
          margin-top: -0.2rem;
          text-align: center;
          font-size: 4.6vw;
          background-image: -webkit-radial-gradient(left, white, white, #3498db);
          background-image: radial(to right, left, white, white, #3498db);
          background-clip: text;
          -webkit-background-clip: text;
          text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
          span {
            display: block;
          }
          span:nth-child(1) {
            margin-right: 0rem
          }
          span:nth-child(2) {
            margin-right: 2rem
          }
          span:nth-child(3) {
            margin-right: 6rem
          }
          span:nth-child(4) {
            margin-right: 6rem
          }
        }

      }
    }
  }

  #section4 {
    height: 100vh;
    position: relative;
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section4-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        z-index: 1;
        width: 40%;
        margin-bottom: -1rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4.6vw;
        line-height: 1em;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .l, .r {
        width: 50%;

      }
      .l {
        padding-left: 12rem;
        padding-right: 8rem;
      }
      .r {
        padding-right: 12rem;
        padding-left: 8rem;
        align-self: flex-start;
        h1 {
          margin-top: -0.2rem;
          text-align: center;
          color: white;
          font-size: 4vw;
          span {
            display: block;
          }
          span:nth-child(1) {
            margin-right: 0rem
          }
          span:nth-child(2) {
            margin-right: 2rem
          }
          span:nth-child(3) {
            margin-right: 6rem
          }
          span:nth-child(4) {
            margin-right: 6rem
          }
        }

      }
    }
  }

  #section5 {
    height: 100vh;
    position: relative;
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section5-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        z-index: 1;
        width: 40%;
        margin-bottom: -0.4rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4vw;
        line-height: 1em;
        color: white;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .l, .r {
        width: 50%;

      }
      .l {
        padding-left: 12rem;
        padding-right: 8rem;
      }
      .r {
        padding-right: 12rem;
        padding-left: 8rem;
        align-self: flex-start;
        h1 {
          margin-top: -0.2rem;
          text-align: center;
          color: white;
          font-size: 3.8vw;
          span {
            display: block;
          }
          span:nth-child(1) {
            margin-right: 4rem;
          }
          span:nth-child(2) {
            margin-right: 2rem;
          }
          span:nth-child(3) {
            margin-right: 6rem;
          }
          span:nth-child(4) {
            margin-right: 6rem;
          }
        }

      }
    }
  }

  #section6 {
    height: 100%;
    position: relative;
    .top {
      background: url('https://s3.amazonaws.com/ijadams/btb/section6-bg.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      height: 50vh;
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        width: 40%;
        margin-bottom: -0.4rem;
        margin-left: 2rem;
        letter-spacing: 0.1rem;
        align-self: flex-end;
        font-size: 4vw;
        line-height: 1em;
        color: white;
        text-align: center;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin-right: 8rem
        }
        span:nth-child(2) {
          margin-right: 6rem
        }
        span:nth-child(3) {
          margin-right: 4rem
        }
        span:nth-child(4) {
          margin-right: 2rem
        }
        span:nth-child(5) {
          margin-right: 4rem
        }
        span:nth-child(6) {
          margin-right: 6rem
        }

      }
    }
    .bottom {
      background: black;
      color: white;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
        font-size: 2.4rem;
        letter-spacing: 1rem;
        text-align: center;
        margin-bottom: 3rem;
      }
      ul {
        text-align: center;
        font-size: 12px;
      }
    }
  }

  #section7 {
    height: 100vh;
    position: relative;
    background: url('https://s3.amazonaws.com/ijadams/btb/footer.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    .top {
      color: #fff;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .row {
        max-width: 50%;
        color: white;
        text-align: center;
        h1 {
          font-size: 2.4rem;
          letter-spacing: 1rem;
          margin-bottom: 4rem;
        }
        h4 {
          font-weight: 700;
        }
        p {
          margin-bottom: 5rem;
        }
        table {
          width: 50%;
          margin: 0 25%;
          td {
            text-align: center;
            font-size: 3rem;
            padding: 0;
            opacity: 0.8;
            transition: 0.2s;
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }
        }
      }
    }
    .bottom {
      color: white;
      height: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
        font-size: 4vw;
        letter-spacing: 0.1rem;
      }
    }
  }
}


